CompileFlags:
  Add:
    - -std=c++17
    - -D_LIBCPP_ENABLE_EXPERIMENTAL
    - --driver-mode=g++
    - -isysroot
    - /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk
    - -I/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/c++/v1
